@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */

.main-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.logo-img {
  width: 48px;
  height: 48px;
  margin: 18px;
}

.logo-text {
  font-size: 3rem;
  font-weight: 400;
}

.main-nav {
  margin: 0 18px 0 auto;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  text-decoration: none;
  color: #3366bb;
  font-size: 1.5rem;
  margin: 9px;
}

.main-nav span {
  font-size: 1.5rem;
}

.active {
  border-bottom: 1px solid #3366bb;
}
